<h1> My Skills</h1>
<hr/>
<table>	
    <tr>
        <td valign="top">
            <span class="text">
	           <table class="content_table" colspan="4">
					<tr>
						<td colspan="2" class="title" valign="bottom">Programming skills</td>
					</tr>
					<tr> 
		            	<td align="right">○ ○ ○ ○ ○ ○ ○ ○ ○ ○ </td>
						<td>● ● ● ● ● ● ● ● ● ●  </td>
					</tr> 
					<tr> 
						<td colspan="2" class="title" valign="bottom">
						I'm currently working and most familiar with C#, Unity and Kinect for Windows SDK. 
						However, in the past I've been also programing with Java, ActionScript 3, PHP, Ruby on Rails, Python, C++, Max/MSP/Jitter.
						</td>
						
		            </tr>				
					<tr>
						<td colspan="2" class="title" valign="bottom">Databases</td>
					</tr>
					<tr> 
		            	<td align="right">○ ○ ○ ○ ○ ○ ○ ○ ○ ○ </td>
						<td>● ● ● ● ● ● ● ● ● ●  </td>
					</tr> 	
					<tr> 
		            	<td colspan="1" align="right">
						MySQL <br/>
						</td>
						<td colspan="1">
						● ● ● ● ● <br/>
						</td>
		            </tr>
					
					<tr>
						<td colspan="2" class="title" valign="bottom">Grafics and video editing</td>
					</tr> 
					<tr> 
		            	<td align="right">○ ○ ○ ○ ○ ○ ○ ○ ○ ○ </td><td>● ● ● ● ● ● ● ● ● ●  </td>
					</tr> 
					<tr> 
		            	<td colspan="1" align="right">
						Adobe Photoshop <br/>
						Adobe Premiere <br/>
						Cinema4D <br/>
						</td>
						<td colspan="1">
						● ● ● ● ● <br/>
						● ● <br/>
						● ● <br/>
						</td>
		            </tr>

					<tr>
						<td colspan="2" class="title" valign="bottom">Operation systems</td>
					</tr>
					<tr> 
		            	<td align="right">○ ○ ○ ○ ○ ○ ○ ○ ○ ○ </td><td>● ● ● ● ● ● ● ● ● ●  </td>
					</tr> 	
					<tr> 
		            	<td colspan="1" align="right">
						Windows <br/>
						Ubuntu Linux <br/>
						</td>
						<td colspan="1">
						● ● ● ● ● ● ● ● <br/>
						● ● <br/>
						</td>
		            </tr>
					<tr>
						<td colspan="2" class="title" valign="bottom">Non technical skills</td>
					</tr>
					<tr> 
		            	<td align="right">○ ○ ○ ○ ○ ○ ○ ○ ○ ○ </td>
						<td>● ● ● ● ● ● ● ● ● ●  </td>
					</tr> 	 

					<tr> 
		            	<td colspan="1" align="right">
						Project and team management <br/>
						Narration in games <br/>
						Game meachnacis <br/>
						Paper prototyping <br/>
						Social media marketing <br/>
						</td>
						<td colspan="1">
						● ● ● ● ● ● <br/>
						● ● ● ● ● ● ● <br/>
						● ● ● ● ● ● ● ● ● <br/>
						● ● ● ● ● <br/>
						● ● ● ● <br/>
						</td>
					</tr> 
					<tr> 
		            	<td class="dark">○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ ○ </td>
						<td class="dark">● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● </td>
					</tr>
	            </table> 
            </span>
        </td>
		<td width="25" >
        </td>
        <td>
        	<div id="pic">
            	<br/><img src="http://mrwellmann.bplaced.net/hp/portraits/markus_halb.jpg" />
			</div>
        </td>
    </tr>
</table>