<h1> Über Mich </h1>
<hr/>
<table>
    <br/>
    <tr>
        <td valign="top">
            <span class="text">
	           <table class="content_table"> 
		            <tr> 
		            	<td  id="cv_cell1">Name:</td><td valign="top">Markus Wellmann</td> 
		            </tr> 
		            <tr> 
		            	<td id="cv_cell1">Geburtsdatum:</td></td><td valign="top">03. März 1986</td> 
		            </tr> 
		            <tr> 
		           		<td id="cv_cell1">Geburtsort:</td><td valign="top">Agnethlen</td> 
		            </tr> 
		            <tr> 
		            	<td id="cv_cell1">Familienstand:</td></td><td valign="top">ledig</td> 
		            </tr>
					<tr>
						<td colspan="2"></br><span class="title">Programierschprachen</span> </td>
					</tr>
					<tr> 
		            	<td colspan="2">Java (Fortgeschritten), Ruby on Rails (Gut), ActionScript (Grundkenntnisse), Python (Grundkenntnisse), C++ (Grundkenntnisse), Max/MSP/Jitter (Grundkenntnisse)</td>
		            </tr>
					<tr>
						<td colspan="2"></br><span class="title">Datenbanken</span></td>
					</tr>
					<tr> 
		            	<td colspan="2">SQL(Gut)</td>
		            <tr>
						<td colspan="2"></br><span class="title">Grafik- & Videobearbeitung</span></td>
					</tr> 
					<tr> 
		            	<td colspan="2">Adobe Photoshop (Gut), Adobe Premiere (Grundkenntnisse), Cinema4D (Grundkenntnisse)</td>
		            </tr>
					<tr>
						<td colspan="2"></br><span class="title">Betriebssysteme</span></td>
					</tr>
					<tr> 
		            	<td colspan="2">Windows (Fortgeschritten), Unbuntu Linux (Grundkenntnisse)</td>
		            </tr>
					<tr>
						<td colspan="2"></br><span class="title">Kompetenzen</span></td>
					</tr>
					<tr> 
		            	<td colspan="2">IT Projektmanagement (Grundkenntnisse), Marketing in Sozialen Netzwerken (Grundkenntnisse)</td>
		            </tr>
										<tr>
						<td colspan="2"></br><span class="title">Sport</span></td>
					</tr>
					<tr> 
		            	<td colspan="2">Volleyball, Basketball, Inlineskaten, Bergsteigen, Frisbee</td>
		            </tr>        
	            </table> 
            </span>
        </td>
        <td width="25">
        </td>
        <td >
        	<div id="pic">
            	<img src="images/portraits/markus_halb.jpg" />
			</div>
        </td>
    </tr>
</table>