<h1> My Skills (curently under construction)</h1>
<hr/>
<table>
    <br/>
    <tr>
        <td valign="top">
            <span class="text">
	           <table class="content_table">
					<tr>
						<td colspan="2"><br/><span class="title">Programming skills</span> </td>
					</tr>
					<tr> 
		            	<td colspan="2">
						Object-oriented programming ● ● ● ○ ○ ○ <br/>
						Model–view–controller programming ● ● ○ ○ ○ ○ <br/>
						C++ ● ● ○ ○ ○ ○ <br/>
						Java ● ● ● ● ○ ○ <br/>
						C# ● ○ ○ ○ ○ ○ <br/>
						ActionScript ● ● ● ○ ○ ○ <br/>
						Ruby on Rails ● ● ○ ○ ○ ○ <br/>
						PHP ● ● ○ ○ ○ ○ <br/>
						Python ● ○ ○ ○ ○ ○ ○ <br/>
						Max/MSP/Jitter ● ○ ○ ○ ○ ○ ○
						</td>
		            </tr>
					<tr>
						<td colspan="2"><br/><span class="title">Databases</span></td>
					</tr>
					<tr> 
		            	<td colspan="2">MySQL ● ● ● ● ○ ○</td>
		            <tr>
						<td colspan="2"><br/><span class="title">Grafics and video editing</span></td>
					</tr> 
					<tr> 
		            	<td colspan="2">
						Adobe Photoshop ● ● ● ○ ○ ○ <br/>
						Adobe Premiere ● ○ ○ ○ ○ ○ ○<br/>
						Cinema4D ● ○ ○ ○ ○ ○ ○
						</td>
		            </tr>
					<tr>
						<td colspan="2"><br/><span class="title">Operation systems</span></td>
					</tr>
					<tr> 
		            	<td colspan="2">
						Windows ● ● ● ● ○ ○ <br/>
						Ubuntu Linux ● ○ ○ ○ ○ ○ ○ <br/>
						</td>
		            </tr>
					<tr>
						<td colspan="2"><br/><span class="title">Non technical skills</span></td>
					</tr>
					<tr> 
		            	<td colspan="2">
						Project and team management ● ● ● ○ ○ ○ <br/>
						Narration in games ● ● ● ● ○ ○ <br/>
						Game meachnacis ● ● ● ● ○ ○ <br/>
						Paper prototyping ● ● ● ○ ○ ○ <br/>
						Social media marketing ● ● ○ ○ ○ ○
						</td>
		            </tr>  
	            </table> 
            </span>
        </td>
        <td width="25">
        </td>
        <td >
        	<div id="pic">
            	<img src="http://dl.dropbox.com/u/2292024/hp/portraits/markus_halb.jpg" />
			</div>
        </td>
    </tr>
</table>