<h1> My Skills </h1>
<hr/>
<table>
    <br/>
    <tr>
        <td valign="top">
            <span class="text">
	           <table class="content_table">
					<tr>
						<td colspan="2"><br/><span class="title">programming languages</span> </td>
					</tr>
					<tr> 
		            	<td colspan="2">
						Java 1 1 1 1 0 0<br/>
						Ruby on Rails ( 1 1 0 0 0 0 )<br/>
						ActionScript ( + + + - - -)<br/>
						Python ( # _ _ _ _ _ _)<br/>
						C++ (☺ ☺ ○ ○ ○ ○)<br/>
						Max/MSP/Jitter (● ○ ○ ○ ○ ○ ○)
						</td>
		            </tr>
					<tr>
						<td colspan="2"><br/><span class="title">Databases</span></td>
					</tr>
					<tr> 
		            	<td colspan="2">MySQL ● ● ● ● ○ ○</td>
		            <tr>
						<td colspan="2"><br/><span class="title">Grafik- & Videobearbeitung</span></td>
					</tr> 
					<tr> 
		            	<td colspan="2">Adobe Photoshop (Gut), Adobe Premiere (Grundkenntnisse), Cinema4D (Grundkenntnisse)</td>
		            </tr>
					<tr>
						<td colspan="2"><br/><span class="title">Betriebssysteme</span></td>
					</tr>
					<tr> 
		            	<td colspan="2">Windows (Fortgeschritten), Ubuntu Linux (Grundkenntnisse)</td>
		            </tr>
					<tr>
						<td colspan="2"><br/><span class="title">Kompetenzen</span></td>
					</tr>
					<tr> 
		            	<td colspan="2">IT Projektmanagement (Grundkenntnisse), Marketing in Sozialen Netzwerken (Grundkenntnisse)</td>
		            </tr>
					<tr>
						<td colspan="2"><br><span class="title">Sport</span></td>
					</tr>
					<tr> 
		            	<td colspan="2">Volleyball, Basketball, Bergsteigen, Frisbee, Inlineskaten</td>
		            </tr>        
	            </table> 
            </span>
        </td>
        <td width="25">
        </td>
        <td >
        	<div id="pic">
            	<img src="http://dl.dropbox.com/u/2292024/hp/portraits/markus_halb.jpg" />
			</div>
        </td>
    </tr>
</table>