<h1> Wellcome </h1>
<hr/>
<table>
    <br/>
    <tr>
        <td valign="top" >
            <span class="text">
                <p>
                    Hi, I'm Markus Wellmann. I studied Computer Science in Media BSc at Hochschule Furtwangen University. 
					I've traveled, studied and worked in New Zealand, England, Austria and Finland.
					I'm now working here at home in Germany on my own startup for building retro-themed multimodal Kinect games.
                </p>
                <br/>
				<p>
					I currently see myself mostly as a developer and I'm working hard on being a good Entrepreneur.
					I'm not a designer. However, I believe that not only the visuals should be beautiful, source code need to be, too.
					I also strongly believe in the Idea of gameful design by Jane McGonigal 
					and that we can make the World a better place by designing and playing the right games.
                </p>
                <br/>
                <p>
					In my free time I obviously also love to play all kinds of games, starting from board and card games over computer games to team sports. 
					Apart from these, I enjoy traveling, hiking, skating, frisbee and lots of other outdoor stuff.
                </p>
                <br/>
            </span>
        </td>
        <td width="25">
        </td>
        <td>
        	<div id="pic">
            	<img src="http://mrwellmann.bplaced.net/hp/portraits/markus_gross.jpg" />
			</div>
        </td>
    </tr>
</table>