<h1> Wellcome </h1>
<hr/>
<table>
    <br/>
    <tr>
        <td valign="top" >
            <span class="text">
                <p>
                    My Name is Markus Wellmann. I studied Computer Science in Media BSc at Hochschule Furtwangen University. 
					Before, during and after my studies I traveled, lived and worked in New Zealand, England, Austria and Finland. 
					The duration of my stays in these countries where always about half a year, 
					enough time to make good friends and enjoy the local culture.  
					I'm now working here in Germany on my own <a href="http://squaredgames.com/"><span>startup</span></a>
					for building retro-themed multimodal Kinect games.
                </p>
                <br/>
				<p>
					I currently see myself mostly as a developer and I'm working hard on being a good Entrepreneur, as well.
					I'm not a designer. However, I believe that not only the visuals should be beautiful, source code need to be, too.
					I also strongly believe in the Idea of gameful design by Jane McGonigal 
					and that we can make the World a better place by designing and playing the right games.
                </p>
                <br/>
                <p>
					In my free time I obviously also love to play all kinds of games :-D. 
					Starting from board and card games over computer games to sport games.  
					Apart from games I enjoy traveling, hiking, skating, frisbee and lots of other outdoor stuff.
                </p>
                <br/>
            </span>
        </td>
        <td width="25">
        </td>
        <td>
        	<div id="pic">
            	<img src="http://dl.dropbox.com/u/2292024/hp/portraits/markus_gross.jpg" />
			</div>
        </td>
    </tr>
</table>