<h1> Herzlich Willkommen </h1>
<hr/>
<table>
    <br/>
    <tr>
        <td valign="top" >
            <span class="text">
                <p>
                    Mein Name ist Markus Wellmann und ich studiere <a href="https://webservdm.hs-furtwangen.de/dm.php?template=home"><span>Medieninformatik an der Hochschule Furtwangen</span></a>
                    im sechsten Semester. Meine Hauptthemengebiete sind Konzeption, Marketing und Programmierung im Bereich digitale Medien.
                </p>
                <br/>
                <p>
                    Auf dieser Webseite möchte ich einen Einblick in meinen bisherigen Werdegang geben und Projekte aus meinem schulischen und privaten Umfeld vorstellen.
                </p>
                <br/>
                <p>
                	Ab Februar 2010 werde ich meine Bachelorthesis mit dem Arbeitstitel „<a href="http://de.wikipedia.org/wiki/Alternate_Reality_Game"><span>Alternate Reality Games</span></a> – Veränderungen der letzten Jahre,
					 möglicher Einsatz von Social Media und Konzeption eines Prototypen“ schreiben. Neben dem Studium bin ich zurzeit für den Aufbau des Social Media
					 Auftritts des <a href="http://www.business-consulting.de"><span>Institut für Business Consulting e.V.</span></a>, der studentischen Unternehmensberatung der Hochschule Furtwangen, mitverantwortlich.	
                
				
				</p>
                <br/>
                <p>
                   Auf die Frage, ob ich im nach meinem Bachelor den Master anschließe oder ins Arbeitsleben einsteige, weiß ich noch keine Antwort. Ich freue mich auch jeden Fall auf alle interessanten Jobangebote.
                </p>
                <br/>
            </span>
        </td>
        <td width="25">
        </td>
        <td>
        	<div id="pic">
            	<img src="http://webuser.hs-furtwangen.de/~wellma/private/hp/portraits/markus_gross.jpg" />
			</div>
        </td>
    </tr>
</table>