<h1> Welcome </h1>
<hr/>
<table>
    <br/>
    <tr>
        <td valign="top" >
            <span class="text">
                <p>
                    Hi, my name is Markus Wellmann. 
					I studied Computer Science in Media BSc at Hochschule Furtwangen University. 
					In the past, I've traveled, studied and worked in New Zealand, England, Austria and Finland. 
					I am currently working and living in Stuttgart, Germany.
                </p>
                <br/>
				<p>
					I define myself primarily as a developer and I'm an aspiring Entrepreneur, too. My primary skills are not on grafic design. 
					However, I believe that good source code can be beautiful, too. 
					My main areas of expertise are game design, programming and development for natural user interfaces (NUIs). 
					Best known examples of such NUIs are the Nintendo Wii and the Microsoft Kinect.
                </p>
                <br/>
                <p>
					The web is a second home for me and I'm a well-connected person. 
					As a consequence I have quite a bit of knowledge concerning social media.
                </p>
                <br/>
                <p>
					In my free time I enjoy playing all kinds of games, from board and card games over computer games to team sports like Ultimate Frisbee. 
					Apart from these, I enjoy travelling and lots of other cool outdoor activities.
                </p>
                <br/>
				<p>
					There is one more thing you should know about me: I'm a hopelessly idealistic person :-D
                </p>
                <br/>
            </span>
        </td>
        <td width="25">
        </td>
        <td>
        	<div id="pic">
            	<img src="http://mrwellmann.bplaced.net/hp/portraits/markus_gross.jpg" />
			</div>
        </td>
    </tr>
</table>