<h1> Wellcome </h1>
<hr/>
<table>
    <br/>
    <tr>
        <td valign="top" >
            <span class="text">
                <p>
                    Hi, I'm Markus Wellmann. I studied Computer Science in Media BSc at Hochschule Furtwangen University. 
					I've traveled, studied and worked in New Zealand, England, Austria and Finland. 
					I'm now working and living in Stuttgart Germany.
                </p>
                <br/>
				<p>
					I see myself mostly as a developer and I'm working on being a good Entrepreneur, too. 
					I'm not a very good visual designer. However, I believe that good source code can be beautiful, too.
					My main areas of expertise are game design, programming and user interfaces like the Microsoft Kinect which do give us the possibilities to interact with computers in new ways.
                </p>
                <br/>
                <p>
					The web is a second home for me and I'm a well-connected person. 
					As it comes with it, I have quite a bit of knowledge concerning social media.
                </p>
                <br/>
                <p>
					In my free time I appreciate to play all kinds of games, starting from board and card games over computer games to team sports like Ultimate Frisbee. 
					Apart from these, I enjoy travelling and lots of other cool outdoor stuff.
                </p>
                <br/>
				<p>
					There is one more thing you should know about me: I'm a hopeless idealistic person.
					I believe in the Idea of Jane McGonigal and that the right games can make a better World. 
					However, I do know that it is not the only way :-)
                </p>
                <br/>
            </span>
        </td>
        <td width="25">
        </td>
        <td>
        	<div id="pic">
            	<img src="http://mrwellmann.bplaced.net/hp/portraits/markus_gross.jpg" />
			</div>
        </td>
    </tr>
</table>