<h1> Wellcome </h1>
<hr/>
<table>
    <br/>
    <tr>
        <td valign="top" >
            <span class="text">
                <p>
                    My Name is Markus Wellmann I studied Computer Science in Media BSc at Hochschule Furtwangen Universety. 
					I'm now working on my own <a href="http://squaredgames.com/"><span>startup</span></a> for building retro-themed multimodal Kinect games. 
					I’m mostly a developer and working hard on being a good Entrepreneur. I'm not a designer. 
					However, I believe that not only the visuals should be beautiful, source code need to be, too. 
					I also believe in the Idea of gameful design by Jane McGonigal.
                </p>
                <br/>
                <p>
					In my free time I also love to play all kinds of games. 
					Starting from board and card games over computer games to sport games.  
					Apart from games I enjoy traveling, hiking, skating, frisbee and lots of other outdoor stuff.
                </p>
                <br/>
                <p>
                	Feel free to browse around or write me a <a href="mailto:mrwellmann@gmail.com"><span>mail</span></a>.
				</p>
                <br/>
            </span>
        </td>
        <td width="25">
        </td>
        <td>
        	<div id="pic">
            	<img src="http://dl.dropbox.com/u/2292024/hp/portraits/markus_gross.jpg" />
			</div>
        </td>
    </tr>
</table>