<h1> Herzlich Willkommen </h1>
<hr/>
<table>
    <br/>
    <tr>
        <td valign="top" >
            <span class="text">
                <p>
                    Mein Name ist Markus Wellmann und ich studiere <a href="https://webservdm.hs-furtwangen.de/dm.php?template=home"><span>Medieninformatik an der Hochschule Furtwangen</span></a>
                    im sechsten Semester. Meine Hauptthemengebiete sind Konzeption, Marketing und Programmierung im Bereich digitale Medien.
                </p>
                <br/>
                <p>
                    In diesem Portfolio möchte ich Ihnen einen Einblick in meinen bisherigen Werdegang geben und Projekte aus meinem schulischen und privaten Umfeld vorstellen. 
                </p>
                <br/>
                <p>
                    Momentan bin ich auf der Suche nach einem geeigneten Thema für meine Bachelorthesis und einem Unternehmen, bei dem ich meine Thesis schreiben kann. Ein Thema, für das ich mich interessiere, ist die Evaluation und Konzeption eines <a href="http://de.wikipedia.org/wiki/Alternate_Reality_Game"><span>Alternate Reality Games</span></a>
                    als virale Werbemaßnahme. Hierfür eignen sich vor allem neue Produkte, die eine junge Zielgruppe ansprechen und sowohl in der wirklichen als auch in der digitalen Welt zu Hause sind. 
                </p>
                <br/>
                <p>
                    Sollten Sie an diesem Thema Interesse oder ein eigenes interessantes Thema zu vergeben haben, freue ich mich über Ihre Kontaktaufnahme.
                    Natürlich bin ich auch für alle anderen Hinweise, Ratschläge oder Verbesserungsvorschläge jederzeit offen. 
                </p>
                <br/>
            </span>
        </td>
        <td width="25">
        </td>
        <td>
        	<div id="pic">
            	<img src="http://webuser.hs-furtwangen.de/~wellma/private/hp/portraits/markus_gross.jpg" />
			</div>
        </td>
    </tr>
</table>