<h1> Portfolio </h1>
<hr/>
<h1><span style="color:white;">Dieser Teil befindet sich noch im Aufbau. Ich bitte um Verständnis falls Inhalte fehlen, nicht gut aufbereitet sind oder etwas nicht funktioniert.</span></h1>
<table>
    <tr>
        <td valign="top">
            <span class="text">
	           <table class="content_table" cellspacing="30">
	           	<tr>
	           		<td id="pt_cell1">
	           			<a href="http://verbundlabor.de/LehreUndForschung/DokumentationInstallationGruppe3SS09" target="_blank"><span>Silhouetris - Interaktive Medien Instalation</span></a>
						<iframe src="http://player.vimeo.com/video/5676381?title=0&amp;byline=0&amp;portrait=0" width="200" height="160" frameborder="0"></iframe>
	           		</td>
					<td id="pt_cell1">
						<a href="/data/billard.pdf" target="_blank"><span>Billard - in Java programiertes Lernspiel</span></a>
						<img src="http://webuser.hs-furtwangen.de/~wellma/private/hp/billard.png" />	 
					</td>
	           	</tr>
				<tr>
					<td id="pt_cell1">
						<a href="http://vimeo.com/8885127" target="_blank"><span>Soundtrack Meiner Nacht - Filmprojekt</span></a>
						<iframe src="http://player.vimeo.com/video/8885127?title=0&amp;byline=0&amp;portrait=0" width="201" height="113" frameborder="0"></iframe>
					</td>
					<td id="pt_cell1">
						<a href="http://pangea.mrwellmann.de" target="_blank"><span>Pangea - Ruby on Rails Webseite</span></a>
						<img src="http://webuser.hs-furtwangen.de/~wellma/private/hp/pangea.png">
					</td>

	           	</tr>
				<tr>
					<td id="pt_cell1">
						<a href="http://vimeo.com/16637279" target="_blank"><span>ARS Eelectronica Fascade - Wellensimulation</span></a>
						<iframe src="http://player.vimeo.com/video/16637279?title=0&amp;byline=0&amp;portrait=0" width="200" height="150" frameborder="0"></iframe>


					</td>
					<td id="pt_cell1">
						Fotogalerie
					</td>
				</tr>
	            </table> 
            </span>
        </td>
        <td width="25">
        </td>
    </tr>
</table>