<h1> Portfolio </h1>
<hr/>
<h1>
</h1>
<table>
    <tr>
        <td valign="top">
            <span class="text">
	           <table class="content_table" cellspacing="30">
			   	<tr>
	           		<td id="pt_cell1">
	           			<a href="http://youtu.be/IWuRo7-ZlQw" target="_blank" alt="Project: Willy @ VeGA Camp Sutttgart" title="Project: Willy @ VeGA Camp Sutttgart">
						<span>Project: Willy is a Kinect Game build at Global Game Jam 2013</span></a><br>
						<iframe src="//www.youtube.com/embed/IWuRo7-ZlQw" width="200" height="150" frameborder="0" allowfullscreen></iframe>
	           		</td>
	           		<td id="pt_cell1">
	           			<a href="http://youtu.be/-SbSF0yoi1M" target="_blank" alt="Still Interactive Art Installation" title="Still Interactive Art Installation">
						<span>Still Interactive Art Installation - In this Project I've been responsible for the implementation using the Microsoft Kinect.</span></a><br>
						<iframe src="//www.youtube.com/embed/-SbSF0yoi1M" width="200" height="150" frameborder="0" allowfullscreen></iframe>
	           		</td>
	           	</tr>
			   	<tr>
	           		<td id="pt_cell1">
	           			<a href="http://tampere.demola.fi/node/3090" target="_blank" alt="WildChords – Playing to play the guitar " title="WildChords – Playing to play the guitar ">
						<span>WildChords – In this game project I’ve been team manager and ActionScript developer in close cooperation with Ovelin Ltd.</span></a><br>
						<img src="http://mrwellmann.bplaced.net/hp/wildchords.png" />	</a> 
	           		</td>
					<td id="pt_cell1">
						<a href="http://tampere.demola.fi/projects/myterritory2-%E2%80%93-populate-world-music" target="_blank" alt="MyTerritory2 – Populate a world of music" title="MyTerritory2 – Populate a world of music"> 
						<span>MyTerritory2 - This was a GPS based game project assigned by Nokia. I've been working as game designer and PHP backend developer.</span><br>
						<img src="http://mrwellmann.bplaced.net/hp/myterritory.png" />	</a> 
					</td>
	           	</tr>
	           	<tr>
	           		<td id="pt_cell1">
	           			<a href="http://vimeo.com/25952122" target="_blank" alt="Silhouetris Returns - Remake of Silhoeutris using the Microsoft Kinect" title="Silhouetris Returns - Remake of Silhoeutris using the Microsoft Kinect">
						<span>Silhouetris Returns - Remake of Silhoeutris using the Microsoft Kinect </span></a><br>
						<iframe src="http://player.vimeo.com/video/25952122?title=0&amp;byline=0&amp;portrait=0" width="200" height="150" frameborder="0"></iframe>
	           		</td>
					<td id="pt_cell1">
						<a href="http://thedigitalnatives.mrwellmann.de/" target="_blank" alt="Web riddle" title="Web riddle">
						<span>Web riddle as Part of my thesis about alternate reality games (In German)</span><br>
						<img src="http://mrwellmann.bplaced.net/hp/DN.png" />	</a> 
					</td>
	           	</tr>
				<tr>
	           		<td id="pt_cell1">
	           			<a href="https://vimeo.com/5676381" target="_blank" alt="Silhouetris - Interactive Media Instalation" title="Silhouetris - Interactive Media Instalation">
						<span>Silhouetris - Human body meets Tetris - Interactive Media Instalation</span></a><br>
						<iframe src="http://player.vimeo.com/video/5676381?title=0&amp;byline=0&amp;portrait=0" width="200" height="160" frameborder="0"></iframe>
	           		</td>
					<td id="pt_cell1">
						<a href="http://mrwellmann.bplaced.net/hp/billard.pdf" target="_blank" alt="Billiard – With Java programed learning game" title="Billiard – With Java programed learning game">
						<span>Billiard – With Java programed learning game for physics, mathematics and computer science (Link to the German documentation)</span><br>
						<img src="http://mrwellmann.bplaced.net/hp/billard.png" /></a>	 
					</td>
	           	</tr>
				<tr>
					<td id="pt_cell1">
						<a href="http://vimeo.com/16637279" target="_blank" alt="ARS Eelectronica fascade wave simulation" title="ARS Eelectronica fascade wave simulation">
						<span>ARS Eelectronica Fascade - This is a wave simulation controlled with a Wii Controller and a Wii fit Board using the ARS Electronica Facade in Linz as display. </span></a><br>
						<iframe src="http://player.vimeo.com/video/16637279?title=0&amp;byline=0&amp;portrait=0" width="200" height="150" frameborder="0"></iframe>

					</td>
					<td id="pt_cell1">
						<a href="http://pangea.mrwellmann.de" target="_blank" alt="Pangea - Ruby on Rails webpage" title="Pangea - Ruby on Rails webpage">
						<span>Pangea - Ruby on Rails webpage for the imaginary fast food restaurant Pangea</span><br>
						<img src="http://mrwellmann.bplaced.net/hp/pangea.png"></a>
					</td>

	           	</tr>
				<tr>
					<td id="pt_cell1">
						<a href="http://vimeo.com/8885127" target="_blank" alt="Soundtrack Meiner Nacht - Movie project" title="Soundtrack Meiner Nacht - Movie project">
						<span>Soundtrack Meiner Nacht - Movie project</span></a><br>
						<iframe src="http://player.vimeo.com/video/8885127?title=0&amp;byline=0&amp;portrait=0" width="201" height="113" frameborder="0"></iframe>
					</td>
					<td id="pt_cell1">
						<a href="https://picasaweb.google.com/mrwellmann/WebPortfolio?authkey=Gv1sRgCKel67KitMXY4wE" target="_blank" alt="Gallery - At Google Picasa" title="Gallery - At Google Picasa">
						<span> Gallery - At Google Picasa</span><br>
						<img src="http://mrwellmann.bplaced.net/hp/galerie.png">	</a>
					</td>
				</tr>
	            </table> 
            </span>
        </td>
        <td width="25">
        </td>
    </tr>
</table>