<h1> Portfolio </h1>
<hr/>
<h1>
</h1>
<table>
    <tr>
        <td valign="top">
            <span class="text">
	           <table class="content_table" cellspacing="30">
	           	<tr>
	           		<td id="pt_cell1">
	           			<a href="http://vimeo.com/25952122" target="_blank"><span>Silhouetris Returns - Prototype of a Microsoft Kinect game </span></a><br>
						<iframe src="http://player.vimeo.com/video/25952122?title=0&amp;byline=0&amp;portrait=0" width="200" height="150" frameborder="0"></iframe>
	           		</td>
					<td id="pt_cell1">
						<a href="http://thedigitalnatives.info" target="_blank"><span>Web riddle as Part of my thesis about alternate reality games (In German)</span><br>
						<img src="http://webuser.hs-furtwangen.de/~wellma/private/hp/DN.png" />	</a> 
					</td>
	           	</tr>
				<tr>
	           		<td id="pt_cell1">
	           			<a href="http://verbundlabor.de/LehreUndForschung/DokumentationInstallationGruppe3SS09" target="_blank"><span>Silhouetris - Human body meets Tetris - Interactive Media Instalation</span></a><br>
						<iframe src="http://player.vimeo.com/video/5676381?title=0&amp;byline=0&amp;portrait=0" width="200" height="160" frameborder="0"></iframe>
	           		</td>
					<td id="pt_cell1">
						<a href="http://webuser.hs-furtwangen.de/~wellma/private/hp/billard.pdf" target="_blank"><span>Billiard – With Java programed learning game for physics, mathematics and computer science (Link to the German documentation)</span><br>
						<img src="http://webuser.hs-furtwangen.de/~wellma/private/hp/billard.png" /></a>	 
					</td>
	           	</tr>
				<tr>
					<td id="pt_cell1">
						<a href="http://vimeo.com/16637279" target="_blank"><span>ARS Eelectronica Fascade - This is a wave simulation controlled with a Wii Controller and a Wii fit Board using the ARS Electronica Facade in Linz as display. </span></a><br>
						<iframe src="http://player.vimeo.com/video/16637279?title=0&amp;byline=0&amp;portrait=0" width="200" height="150" frameborder="0"></iframe>

					</td>
					<td id="pt_cell1">
						<a href="http://pangea.mrwellmann.de" target="_blank"><span>Pangea - Ruby on Rails webpage for the imaginary fast food restaurant Pangea</span><br>
						<img src="http://webuser.hs-furtwangen.de/~wellma/private/hp/pangea.png"></a>
					</td>

	           	</tr>
				<tr>
					<td id="pt_cell1">
						<a href="http://vimeo.com/8885127" target="_blank"><span>Soundtrack Meiner Nacht - Movie project</span></a><br>
						<iframe src="http://player.vimeo.com/video/8885127?title=0&amp;byline=0&amp;portrait=0" width="201" height="113" frameborder="0"></iframe>
					</td>
					<td id="pt_cell1">
						<a href="https://picasaweb.google.com/mrwellmann/Portfolio?authkey=Gv1sRgCLTsr9-frOq6Rw" target="_blank"><span> Gallery - At Google Picasa</span><br>
						<img src="http://webuser.hs-furtwangen.de/~wellma/private/hp/galerie.png">	</a>
					</td>
				</tr>
	            </table> 
            </span>
        </td>
        <td width="25">
        </td>
    </tr>
</table>