<h1> Lebenslauf </h1>
<hr/>
<br/>
<table id="main_table" >
    <tr>
        <td valign="top" >
	        <span class="text"> 
		    	<table id="content_table">
		    		<tr>
						<td colspan="2"><span class="title">Bisheriger Werdegang</span> </td>
					</tr>
			        <tr> 
			        	<td id="cv_cell1">09/1996 – 06/2002</td>
						<td>Realschulabschluss<br /><span id="sub_text">Bildungszentrum Bretzfeld</span></td> 
			        </tr>
			        <tr> 
			        	<td id="cv_cell1">09/2002 – 06/2005</td>
						<td>Abitur Profil Informationstechnik<br /><span id="sub_text">Gewerblichen Schule Öhringen mit technischem Gymnasium</span></td> 
			        </tr>
					<tr> 
			        	<td id="cv_cell1">06/2005 – 01/2007</td>
						<td>freiwillig verlängerte Wehrdienstzeit <br /><span id="sub_text">Hermann Köhl Kaserne Niederstetten</span></td> 
			        </tr> 
					<tr> 
			        	<td id="cv_cell1">10/2007  – Heute</td>
						<td>Studium - Medieninformatik (B.Sc.)<br /><span id="sub_text">Hochschule Furtwangen</span></td> 
			        </tr>
					<tr>
						<td colspan="2"><span class="title">Auslandserfahrung</span></td>
					</tr>
			        <tr> 
			        	<td id="cv_cell1">03/2007 – 09/2007</td>
						<td>Work & Travel in Neuseeland<br /><span id="sub_text"></span></td> 
			        </tr>
					
			        <tr> 
			        	<td id="cv_cell1">09/2002 – 06/2005</td>
						<td>Praxissemester<br /><span id="sub_text">Britisch Telecom in Ipswich England im Broadband Applications Research Centre mit der Haupttätlichkeit Programmieren mit ActionScript und Python</span></td> 
			        </tr>
					<tr>  
			        	<td id="cv_cell1">06/2005 – 01/2007</td>
						<td>Auslandssemester<br /><span id="sub_text">FH Salzburg / Studiengang MultiMediaTechnology</span></td> 
			        </tr> 
		        </table>
				
				</br>				 
				<a href="data/lebenslauf.pdf" target="_blank"><p id="download"> Download Lebenslauf</p> </a>  
	        </span>
        </td>
		<td width="25">
        </td>
        <td>
        	<div id="pic">
           		<img src="images/portraits/markus_halb.jpg" />	
			</div>
        </td>
    </tr>
</table>