<h1> Lebenslauf </h1>
<hr/>
<br/>
<table id="main_table" >
    <tr>
        <td valign="top" >
	        <span class="text"> 
		    	<table id="content_table">
		    		<tr>
						<td colspan="2"><span class="title">Schulbildung</span> </td>
					</tr>
					<tr> 
			        	<td id="cv_cell1">10/2007  – Heute</td>
						<td>Studium der Medieninformatik (B.Sc.)<br /><span id="sub_text">Hochschule Furtwangen</span></td> 
			        </tr>
					<tr> 
			        	<td id="cv_cell1">06/2005 – 01/2007</td>
						<td>Wehrdienst mit freiwilliger Verlängerung <br /><span id="sub_text">Hermann Köhl Kaserne Niederstetten</span></td> 
			        </tr> 
			        <tr> 
			        	<td id="cv_cell1">09/2002 – 06/2005</td>
						<td>Abitur Profil Informationstechnik<br /><span id="sub_text">Gewerbliche Schule Öhringen mit Technisches Gymnasium</span></td> 
			        </tr>
			        <tr> 
			        	<td id="cv_cell1">09/1996 – 06/2002</td>
						<td>Realschulabschluss<br /><span id="sub_text">Bildungszentrum Bretzfeld</span></td> 
			        </tr>
					<tr>
						<td colspan="2"><span class="title">Auslandserfahrung</span></td>
					</tr>
					<tr>  
			        	<td id="cv_cell1">02/2010 - 07/2010</td>
						<td>Auslandssemester Studiengang MultiMediaTechnology<br /><span id="sub_text">Fachhochschule Salzburg</span></td>
			        </tr> 
			        <tr> 
			        	<td id="cv_cell1">09/2008 – 06/2009</td>
						<td>Praxissemester<br /><span id="sub_text">Britisch Telecom in Ipswich, England im Broadband Applications Research Centre mit der Haupttätigkeit Programmieren mit ActionScript und Python</span></td> 
			        </tr>
					<tr> 
			        	<td id="cv_cell1">03/2007 – 09/2007</td>
						<td>Work & Travel in Neuseeland<br /><span id="sub_text"></span></td> 
			        </tr>

		        </table>
	        </span>
        </td>
		<td width="25">
        </td>
        <td>
        	<div id="pic">
           		<img src="http://webuser.hs-furtwangen.de/~wellma/private/hp/portraits/markus_halb.jpg" />	
			</div>
        </td>
    </tr>
</table>