<h1>Kontakt</h1>
<hr/>
<br/>
<table id="main_table">
	<tr>
        <td valign="top" >
	        <span class="text"> 
		    	<table id="content_table">
			   		<tr>
						<td><span class="title">Aktuelle Anschrift:</span> </td>
					</tr>
					
					<tr>
						<td>
							Markus Wellmann
							<br/>
							Marktplatz 25
							<br/>
							78120 Furtwangen
							<br/>
							<br/>
						</td>
					</tr>					
					<tr>
						<td>
					       	<div id="icons">
						       	<!icons suplied by www.komodomedia.com>
								<a href="mailto:mrwellmann@gmail.com" >
						    		<img src="images/icons/email.png" alt="Email" title="Email"/>
								</a>
									   	<a href="http://facebook.com/profile.php?id=mrwellmann" target="_blank">
						    		<img src="images/icons/facebook.png" alt="Facbook" title="Facbook"/>
								</a>
						
						    	<a href="http://twitter.com/MarkusW_" target="_blank">
						    		<img src="images/icons/twitter.png" alt="Twitter" title="Twitter"/>
								</a>
								
								<a href="skype:iceage86?call">
									<img src="images/icons/skype.png" alt="Sykpe" title="Sykpe"/>
								</a>
								
								<a href="https://www.xing.com/profile/Markus_Wellmann4" target="_blank">
						    		<img src="images/icons/xing.png" alt="Xing" title="Xing"/>
								</a>
								
								<a id="icon" href="http://de.linkedin.com/in/markuswellmann" target="_blank">
						    		<img src="images/icons/linkedin.png" alt="LinkedIn" title="LinkedIn"/>
								</a>
								
								<a id="icon" href="http://about.me/mrwellmann" target="_blank">
						    		<img src="images/icons/aboutme.png" alt="about.me" title="about.me"/>
								</a>
							</div>
						</td>
					</tr>
				</table>
			</span>
		</td>
		<td width="25">
		</td>
		<td>
			<div id="pic">
			   <img  src="images/portraits/markus_niedrig.jpg"  />
			</div>
		</td>
	</tr>
</table>

