<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <title>Markus Wellmann</title>
        <%= stylesheet_link_tag 'portfolio_style' %>
		<link rel="shortcut icon" href="favicon.png" type="image/png">
		<link rel="icon" href="favicon.png" type="image/png">
    </head>
    <body>

        <div class="portfolio">
        	<div id="bg">
	        	<img src="http://webuser.hs-furtwangen.de/~wellma/private/hp/backgroud.jpg" alt=""/>
			</div>
            <div id="container">
                <div id="nav">
                    <ul id="navigation">
                    	<li id="btn_bg00a">
                            <a id="btn_bg00b" 
							<%if params[:controller] == "home" %>
								class="over" 
							<%else%> 
								class="" 
							<%end%>
							href="home.html" alt="markus*wellmann - Zur Person" title="markus*wellmann - Zur Person"><span>Home</span></a>
                        </li>
                        <li id="btn_bg01a">
                            <a id="btn_bg01b" 
							<%if params[:controller] == "person" %>
								class="over" 
							<%else%> 
								class="" 
							<%end%>
							href="person.html" alt="markus*wellmann - Zur Person" title="markus*wellmann - Zur Person"><span>PERSON</span></a>
                        </li>
                        <li id="btn_bg02a">
                            <a id="btn_bg02b" 
							<%if params[:controller] == "cv" %>
								class="over" 
							<%else%> 
								class="" 
							<%end%>
							href="cv.html" alt="markus*wellmann - Zum Lebenslauf" title="markus*wellmann - Zum Lebenslauf"><span>LEBENSLAUF</span></a>
                        </li>
                        <li id="btn_bg03a">
                            <a id="btn_bg03b" 
							<%if params[:controller] == "work" %>
								class="over" 
							<%else%> 
								class="" 
							<%end%>
							href="work.html" alt="markus*wellmann - Bisherige Arbeiten" title="markus*wellmann - Bisherige Arbeiten"><span>ARBEITEN</span></a>
                        </li>
                        <li id="btn_bg04a">
                            <a id="btn_bg04b"
							<%if params[:controller] == "contact" %>
								class="over" 
							<%else%> 
								class="" 
							<%end%>
							href="contact.html" alt="markus*wellmann - Kontaktdaten" title="markus*wellmann - Kontaktdaten"><span>KONTAKT</span></a>
                        </li>
                    </ul>
                </div>
                <div id="top">
  
                </div>
                <div id="mainContent">
                    <div id="content">
                    <br/>
                    <%= yield %>
                    <br/>
                    <hr/>
                </div>
                <br/>
            </div>
            <div id="bottom">
                <span class="imp"><a id="content" href="about.html" alt="markus*wellmann - Impressum" title="markus*wellmann - Impressum">Impressum</a></span>
            </div>
        </div>
    </div>
    </body>
</html>
